@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в наш ресторан!</h1>
    <p>Здесь вы можете просмотреть наше меню и сделать заказ.</p>
    <p>
        <a asp-controller="Menu" asp-action="Index">Перейти к меню</a>
    </p>
</div>