@model IEnumerable<MenuItem>

<h2>Create Order</h2>
<form asp-controller="Order" asp-action="Create" method="post">
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@Model.ElementAt(i).Name</td>
                    <td>
                        <input type="hidden" name="menuItemIds" value="@Model.ElementAt(i).Id" />
                        <input type="number" name="quantities" min="0" value="0" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Place Order</button>
</form>