@model Order

<h2>Payment</h2>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.MenuItem.Name</td>
                <td>@item.Quantity</td>
                <td>@((item.MenuItem.Price * item.Quantity).ToString("C"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total:</td>
            <td>@Model.TotalPrice.ToString("C")</td>
        </tr>
    </tfoot>
</table>

<form asp-controller="Order" asp-action="Payment" method="post">
    <input type="hidden" name="orderId" value="@Model.Id" />
    <div>
        <label>Payment Method:</label>
        <select name="paymentMethod">
            <option value="CreditCard">Credit Card</option>
            <option value="PayPal">PayPal</option>
        </select>
    </div>
    <button type="submit">Pay</button>
</form>