@model Order

<h2>Order Placed Successfully</h2>
<p>Thank you for your order!</p>

<h3>Order Details</h3>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.MenuItem.Name</td>
                <td>@item.Quantity</td>
                <td>@((item.MenuItem.Price * item.Quantity).ToString("C"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total:</td>
            <td>@Model.TotalPrice.ToString("C")</td>
        </tr>
    </tfoot>
</table>