@model IEnumerable<MenuItem>
@{
    ViewData["Title"] = "Меню ресторана";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Меню ресторана</h1>

<form method="post" asp-action="PlaceOrder">
    <table class="table">
        <thead>
            <tr>
                <th>Блюдо</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price.ToString("C")</td>
                    <td><input type="number" name="orderItems[@item.Id].Quantity" value="0" min="0" /></td>
                    <input type="hidden" name="orderItems[@item.Id].MenuItemId" value="@item.Id" />
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <label for="customerName">Имя:</label>
        <input type="text" class="form-control" name="customerName" id="customerName" required />
    </div>
    <button type="submit" class="btn btn-primary">Оформить заказ</button>
</form>